<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Artykuly</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <h1>Artykuly</h1>
    </body>
</html>